.required_text{color: #737373;font-size: 13px;font-weight: normal;}
.required_text a{color: #367FA9;font-weight: bold;}
.required_text a:hover{color: #367FA9;text-decoration: underline;font-weight: bold;}
.required{color: #e02222;padding-left: 2px;}
.fixed_height{min-height: 415px ! important;}
.verify_phone button{cursor: pointer !important;pointer-events: auto !important;}
.btn_right{text-align: right;}
@media (max-height: 600px) {
    .main-sidebar, .left-side {
		left: 0;
		max-height: 530px !important;
		overflow-y: scroll;
		padding-top: 50px;
		position: absolute;
		top: 0;
		transition: transform 0.3s ease-in-out 0s, width 0.3s ease-in-out 0s;
		width: 230px;
		z-index: 810;
	}
}
.activePaginate{background:#3C8DBC!important;color: #fff !important;}
.bioActivePaginate{background:#3C8DBC!important;color: #fff !important;}
#loading{
    display: none;    
    position: fixed;
    top: 40%;
    left: 50%;
    text-align:center;
    padding:10px;
    font:normal 16px Tahoma, Geneva, sans-serif;   
    margin-left: -50px;
    margin-top: -40px;
    z-index:2;
    overflow: auto;
}
.status{
	-moz-user-select: none;
    background-image: none;
    cursor: pointer;
    display: inline-block;
    font-size: 15px !important;
    font-weight: 600 !important;
    line-height: 1.42857;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;	
}
.status:focus{color: #fff !important;}
.status:hover{color: #fff !important;}
.alertBlacklist{	
	background: -moz-linear-gradient(center bottom , #afd9ee 0%, #d9edf7 100%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 1px solid #85c5e5 !important;
	color: #3a87ad !important;
	padding: 7px !important;
}
.table-status{padding:5px;width:90%;}
.secondsSpan{float: left; padding-top: 7px;padding-left: 3px;}
.floatLeftSpan{float: left;}
.inputWidth input{width: 95%;}

/* Validation error */
.wrap-validation {
    display: block;
    height: auto;
    padding-bottom: 3px;
    position: relative;
    z-index: initial;
}
.item-input {
    display: block;
    float: none;
    margin-bottom: 30px !important;
    margin-right: 0;
    width: 100%;
}
.wrap-validation span.error {
    color: red;
    display: block;
    font-size: 12px;
    position: absolute;
    width: 100%;
}

.wrap-validation div.check-val.error input[type="text"],input[type="checkbox"],input[type="email"],input[type="website"],input[type="search"],input[type="url"],input[type="digit"] {
    border: 1px solid red !important;
}
.wrap-validation div.check-val.error select {
    border: 1px solid red !important;
}
.wrap-validation div.check-val.error textarea {
    border: 1px solid red !important;
}
.form-wrapper input[type="text"], .form-wrapper input[type="email"], .form-wrapper input[type="website"], .form-wrapper input[type="search"], .form-wrapper input[type="url"] {
    height: 42px;
}
.help-block {
    color: #737373;
    display: block;
    margin-bottom: 0px;
    margin-top: 12px !important;
}
/* Ajax loader */
img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.settingloder {
    color: #d2322d;
    display: none;
    margin: 0 auto !important;
    position: fixed !important;
    text-align: center;
    top: 40% !important;
    visibility: visible;
    width: 100%;
    z-index: 9000 !important;
}

/*  Error message show of file upload*/
.fileinput-button {
    overflow: visible !important;
    position: relative;
}
.wrap-validation span.fileinput-button .error {
    color: red;
    display: block;
    font-size: 12px;
    margin-left: -10px;
    padding-top: 5px;
    position: absolute;
    width: 100%;
}

/*  Add- Remove button */
.add-remove-btn{margin-top:50%;}
@media screen and (min-width: 300px) and (max-width: 1000px){ 
    .add-remove-btn{margin-top:0;}
}

#uncheckalllist.btn{padding: 6px !important;}
#checkalllist.btn{padding: 6px !important;}

/* Form input width change */
.formWidthChange .col-md-7 input[type="text"], input[type="email"], input[type="website"], input[type="search"],input[type="url"] {
	width: 55% !important;
}
.formWidthChange .col-md-7 select{
	width: 55% !important;
}
.formWidthChange .col-md-7 textarea{
	width: 55% !important;
}
.control-label{
	text-align: right !important;
}
.ci_error_msg {
    background: none repeat scroll 0 0 pink;
    border: 1px solid red;
    padding: 10px;
}
.ci_error_msg p {
    margin: 0;
    padding: 0;
}
