.table.pos-relative{ height:260px }
.category-form { z-index:9999 !important; position:absolute; top:0; left:0; right:0; bottom:0; background:#fff; display:none }
.category-form  .buttons { bottom:0; position:absolute; left:0; right:0 }
.category-form  .buttons button { float:right }

.dataTables_wrapper input[type=search], 
.dataTables_wrapper select { 
	-moz-border-radius:4px !important; -webkit-border-radius:4px !important; 
	border:solid 1px #d3cfc7 !important; background:#fff !important; padding:3px 1px !important; font-size:11px !important;
}	
